Django==6.0.5
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf_spectacular==0.29.0
drf_yasg==1.21.15
openpyxl==3.1.5
python-dotenv==1.2.2
reportlab==4.5.0
Requests==2.34.2
psycopg2-binary
django-cors-headers
django-apscheduler